fastapi
uvicorn[standard]
sqlmodel
python-dotenv
pydantic-settings
mysql-connector-python
modelcontextprotocol
httpx
mcp
anthropic
boto3
numpy
pandas
scipy
scikit-learn
joblib
scikit-learn
fpdf2
markdown
matplotlib
