fastapi
uvicorn
sqlmodel
python-dotenv
pydantic-settings
mysql-connector-python
modelcontextprotocol
httpx
mcp
anthropic
boto3
numpy
pandas
scipy
pymysql
apscheduler
joblib
scikit-learn
fpdf2
markdown
matplotlib